<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books list from spring</title>
</head>
<body>
<h1>Books list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Redd</th>
    </tr>
    <tr th:each="book:${books}">
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}">Armagagedon</td>
        <td th:text="${book.publisher.name}">Jezdzcy apokalipsy</td>
        <td th:text="${book.isbn}">666</td>
        <td><input type="checkbox" name="mycheckbox" th:checked="${book.foo}" /></td>
    </tr>

</table>

</body>
</html>