<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
</head>
<body>
<h1>Publishers List</h1>

<table>
    <tr>
        <th width="100px">ID:</th>
        <th width="100px">Name:</th>
        <th width="100px">Address:</th>
    </tr>
    <tr align="center" th:each="publisher:${publishers}">
        <td width="100px" th:text="${publisher.id}">00</td>
        <td width="100px" th:text="${publisher.name}">AAAA</td>
        <td width="200px" th:text="${publisher.addres}">DDDDD</td>
    </tr>
</table>

</body>
</html>